.header {
    height: 15px;
    padding: 5px 20px;
    background-color: #ff6600;
    display: flex;
    align-items: center;
    padding: 4px 8px;
}

.router {
    padding: 0px 5px;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}
.login {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.logoimg {
    height: 18px;
    width: 18px;
    border: 1px solid white;
    display: block;
    margin-right: 4px;
}
