input {
    background-color: #e6edff;
    border: 1px solid #888;
    border-radius: 4px;
    padding: 4px;
}

button {
    margin-top: 10px;
    padding: 6px 10px;
    border: 1px solid #555;
    background-color: #f8f8f8;
    cursor: pointer;
}

.login {
    margin: 30px;
}

.log-span {
    display: block;
    padding: 10px
}

.login {
    display: block;
    align-items: baseline;
}
  

